body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../images/ripples.png);
}
.navbar-brand{
    color: #ffffff;
    background: #4aaaa6;
    padding: 15px;
    font-size: 23px;
    color: white !important;
}
 #collapse:{
    justify-content: right;
 }
 
 .About{
     color: #4aaaa6;

 }

 h3{
     position: absolute;
     background: #4aaaa6;
     color: #ffffff;
     text-align: center;
    float: inline-end;
    
 }
 
    
 
   
   
   
  
      
}

 }